        .container {
            display: flex;
            justify-content: center;
            /* align-items: center; */
            height: 100vh; /* Full height */
        }

        .fpFormTitle {
            text-align: center;
            margin-bottom: 20px;
            margin-top: 120px;
        }

        .forgot-message, p {
            text-align: center;
        }

        #forgotPasswordForm {
            display: flex;
            justify-content: center;
            font-weight: 500;
            font-size: 18px;
            border-radius: 5px;
            line-height: 22px;
            transition: all 0.3s;
            padding: 13px;
            width: 100%;
            max-width: 400px; /* Limit the form width */
            box-sizing: border-box;
            outline: 0;
        }

        #fpButton:disabled {
            cursor: not-allowed;
        }